* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.img {
    margin-top: 30px;
    width: 55%;
}

#con {
    padding: 4%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 400px;
    grid-row-gap: 100px;
    grid-column-gap: 100px;
    position: relative;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(168, 169, 167);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 350ms;
}

.card:hover {
    transform: scale(115%);
}

.title {
    font-weight: 1;
}


.link {
    margin-top: 20px;
}

.link a {
    color: rgb(92, 86, 86);
    font-size: 15px;

}


.link a:hover {
    color: blue;
}

header {
    height: fit-content;
    padding: 25px;
    background: rgb(160, 3, 3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#heading {
    font-size: 45px;
    text-align: center;
}

#input {
    outline: none;
    padding: 20px;
    width: 70%;
    margin-top: 50px;
}

#search {
    outline: none;
    margin-top: 30px;
}

.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(to left,
            hsl(340deg 100% 16%) 0%,
            hsl(340deg 100% 32%) 8%,
            hsl(340deg 100% 32%) 92%,
            hsl(340deg 100% 16%) 100%);
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: hsl(345deg 100% 47%);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 1.25rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

#toggle {
    padding: 10px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 50px;
    width: 55px;
    height: 50px;
    border-radius: 60%;
    transition: 400ms;
}

.hindi {
    background: black;
    color: white;
}

.english {
    background: white;
    color: black;
}


#noFound {
    font-size: 60px;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


#notype {
    width: 90vw;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media(max-width:650px) {
    #con {
        grid-template-columns: 1fr;
    }

    .card:hover {
        transform: scale(100%);
    }

    #toggle {
        width: 35px;
        height: 30px;
        right: 20px;
    }

    #heading {
        font-size: 40px;
        width: 70%
    }
}

body::-webkit-scrollbar {
    display: none;
}



.loader {
    position: absolute;
    top: 60%;
    z-index: 100;
    right: 45%;
    border: 16px solid #908d8d;
    /* Light grey */
    border-top: 16px solid #06578e;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}